.papersheet {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto 0;
  max-width: 70vw;
  min-height: 90vh;
  padding: 20px;
  position: relative;
  font-size: large;
  font-family: "Josefin Slab", serif;
  color: black;
  font-weight: bold;
  text-align: justify;
}

.papersheet:before,
.papersheet:after {
  content: "";
  height: 97%;
  width: 97%;
  position: absolute;
  z-index: -1;
}

.papersheet:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -20px;
  top: 3px;
  transform: rotate(-2.2deg);
}

.papersheet:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -20px;
  top: 3px;
  transform: rotate(3.4deg);
}

.paperline {
  background: #fff;
  background: repeating-linear-gradient(
    white,
    white 23px,
    #9198e5 24px,
    #9198e5 25px
  );

  width: 95%;
  min-height: 80vh;
  padding: 0;
  margin: 50px 15px 50px 15px;
}

.Footer {
  margin: 20px 0 auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: small;
}
.footer-link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.footer-link:hover {
  color: rgb(70, 66, 66);
}
.logo {
  width: 100px;
}

@media (max-width: 420px) {
  .papersheet:before {
    left: -2px;
    top: 1px;
    transform: rotate(-2deg);
  }

  .papersheet:after {
    right: -2px;
    top: 1px;
    transform: rotate(2deg);
  }
  .logo {
    width: 60px;
  }
}

@media (min-width: 1550px) {
  .papersheet {
    max-width: 50vw;
  }
}

@media (min-width: 1800px) {
  .papersheet {
    max-width: 40vw;
  }
}
